body{
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;
}

.main-header{
    background-color: rgb(0,5,1);
    color: rgb(247, 236, 225);
}

#main-header-title{
    font-family: 'Signika Negative', sans-serif;
    padding-top: 5rem;
    padding-bottom: 1rem;
}

#main-header-subtitle{

    padding-bottom: 5rem;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 50px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}


.gradient {
    background: linear-gradient(45deg,#000, rgb(30, 30, 30), white, black, black);
    background-size: 600% 100%;
    animation: gradient 16s linear infinite;
    animation-direction: alternate;
}


@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}


/* Highlight color */
::selection {
    background: rgb(0,5,1);
    color:rgb(247, 236, 225)
}